h1 {
  background-color: grey;
}

.main {
  border: 1px solid black;
  display: flex;
}

.greeting {
  border: 1px solid black;
  margin-bottom: 10px;
}

p {
  margin: 0;
  padding: 0; 
}

div img {
  margin: 3px 3px;
}

.card {
  display: flex;
}

.on {
  font-size: 40px;
  color: #000;
}
.off {
  font-size: 40px;
  color: #ccc;
}

.drivercard {
  background-color: #7743DB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 200px;
  width: 1000px;
}

.img {
  width: 150px;
  height: 140px;
  border-radius: 100px;
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 10px;
  color: white;
}

.name {
  font-size: 30px;
  font-weight: 700;
}

.car {
  font-size: 24px;
}